name: Release
permissions:
  contents: write

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ${{ matrix.job.os }}
    strategy:
      fail-fast: false
      matrix:
        job:
          - { os: ubuntu-latest  , target: aarch64-unknown-linux-gnu      , use-cross: true  , extension: ""   }
          - { os: ubuntu-latest  , target: x86_64-unknown-linux-gnu       , use-cross: false , extension: ""   }
          - { os: windows-latest , target: x86_64-pc-windows-msvc         , use-cross: false , extension: .exe }
          - { os: macos-latest   , target: x86_64-apple-darwin            , use-cross: false , extension: ""   }
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Extract crate information
        shell: bash
        run: |
          echo "PROJECT_NAME=$(sed -n 's/^name = "\(.*\)"/\1/p' Cargo.toml | head -n1 | tr -d '\r')" >> $GITHUB_ENV

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.job.target }}
          override: true
          profile: minimal

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          use-cross: ${{ matrix.job.use-cross }}
          command: build
          args: --release --target ${{ matrix.job.target }}

      - name: Package artifacts
        shell: bash
        run: |
          STAGE="wav2mono-${{ matrix.job.target }}"
          mkdir -p "$STAGE"
          
          # 実行ファイルのコピーとリネーム (修飾子を削る)
          EXE_NAME="wav2mono${{ matrix.job.extension }}"
          cp "target/${{ matrix.job.target }}/release/$EXE_NAME" "$STAGE/"
          
          # Readmeのコピー
          cp Readme.txt "$STAGE/"
          
          # Zip圧縮
          ZIP_NAME="wav2mono-${{ github.ref_name }}-${{ matrix.job.target }}.zip"
          if [ "${{ runner.os }}" == "Windows" ]; then
            powershell -Command "Compress-Archive -Path '$STAGE\*' -DestinationPath '$ZIP_NAME'"
          else
            zip -r "$ZIP_NAME" "$STAGE"
          fi
          
          echo "ASSET_PATH=$ZIP_NAME" >> $GITHUB_ENV

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ${{ env.ASSET_PATH }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
